reference_materials/JpGU2024.pdf
reference_materials/COSPAR_20240719.pdf
fig/*.png
analytical/output/

calculation/diffs_a_n/*.png

calculation/__pycache__/
calculation/analytical/output/
calculation/analytical/*.png
calculation/analytical/__pycache__/

calculation/numerical/*.nc
calculation/numerical/*.png

calculation/numerical/output/
calculation/numerical/surface_forcing/*.nc
calculation/numerical/surface_forcing/*.png

calculation/numerical/surface_forcing_from_MCD/*.nc
calculation/numerical/surface_forcing_from_MCD/*.png

calculation/numerical/surface_forcing_parametric/**/*.nc
calculation/numerical/surface_forcing_parametric/**/*.png
calculation/numerical/gamma/*.nc
calculation/numerical/K_MCD/*.nc
calculation/numerical/K_MCD/*.png

calculation/numerical/K/**/*.nc
calculation/numerical/K/**/*.png
calculation/numerical/K_parametric/**/*.nc
calculation/numerical/K_parametric/**/*.png*

calculation/numerical/__pycache__/
calculation/numerical/*log
calculation/numerical/*.out
calculation/numerical/params/